@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'KozGoPr6N-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/KozGoPr6N/KozGoPr6N-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'KozGoPro-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/KozGoPr6N/KozGoPro-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'UTM-Bebas';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/KozGoPr6N/KozGoPro-Regular.otf') format('truetype');
}




