@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'KozGoPr6N-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/KozGoPr6N/KozGoPr6N-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'KozGoPro-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/KozGoPr6N/KozGoPro-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'UTM-Bebas';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/UTM/UTM Bebas.ttf') format('truetype');
}

@font-face {
  font-family: 'UTM-Avo';
  font-style: normal;
  font-weight: normal;
  src: url('../asset/Font/UTM/UTM Avo.ttf') format('truetype');
}




