.footer-container {
  clear: both;
  .section-top-mobile{
    display: none;
  }
  .section-top {
    color: #FFFFFF;
    position: relative;
    text-align: center;

    .logo-bmv {
      width: 3.29%;
    }

    .company-name-vi {
      margin-top: 20px;
      font-family: UTM-Bebas, sans-serif;
      font-size: 20px;
      letter-spacing: 0.48px;
      opacity: 1;
    }

    .company-name-en {
      font-family: UTM-Bebas, sans-serif;
      font-size: 14px;
      letter-spacing: 0;
      opacity: 0.7;
    }

    .contact-container-logo {
      position: absolute;
      top: 12.76%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }

    .contact-container {
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translateX(-50%);
      width: 1000px;


      .contact__item {
        width: calc(100% / 3);
        float: left;

        .contact__icon {
          margin-bottom: 10px;
          .ic-footer{
            width: 16px;
          }
        }

        .contact__text {
          font-size: 12px;
          font-family: Montserrat-Regular, serif;
        }
      }
    }

    .language {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);

      .language__title {
        font-family: Montserrat-Bold, sans-serif;
        font-size: 15px;
        margin-bottom: 15px;
      }

      .language__item {
        display: flex;

        .language__flag {
          float: left;
          margin-right: 10px;

          &:first-child {
            margin-left: auto;
          }

          &:last-child {
            margin-right: auto;
          }
        }
      }
    }
  }

  .copyright {
    background: #CE001B 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 40px;
    width: 100%;

    .copyright__content {
      font-family: Montserrat-Regular, serif;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 0.7;
      line-height: 40px;
      text-align: center;
    }
  }
}

@media (max-width: 1365px) {
  .footer-container{
    .section-top{
      display: none;
    }
    .section-top-mobile{
      color: #FFFFFF;
      width: 100%;
      display: block;
      background: #00142B;
      padding: 30px 0 30px 0;
      .block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 18px;
        text-align: center;
        .title{
          font-size: 15px;
          color: #FFFFFF;
        }
      }

      .block-1{
        .company-name-vi{
          margin-top: 20px;
          font-family: UTM-Bebas;
          font-size: 24px;
          letter-spacing: 0.48px;
          opacity: 1;
          color: #FFFFFF;
        }

        .company-name-en {
          font-family: UTM-Avo;
          font-size: 15px;
          letter-spacing: 0;
          opacity: 0.7;
          color: #FFFFFF;
        }
      }

      .block-2{
        border-bottom: 1px solid rgba(255, 255, 255, .1);
      }

      .block-3{
        border-bottom: 1px solid rgba(255, 255, 255, .1);
      }

      .block-4{
        border-bottom: 1px solid rgba(255, 255, 255, .1);
      }

      .block-5{
        .language__flag{
          margin: 0 16px;
        }
      }
    }

  }
}
