.header {
  .header-mobile{
    display: none;
  }

  .header-large{
    display: block;
  }
  background: #00142B;

  .header__item {
    cursor: pointer;
    padding: 0 30px;

    /*&:last-child {
      padding-right: 85px;

      color: red;
    }*/

    &:first-child {
      border-right: 1px solid rgba(255, 255, 255, 0.5);
    }

    .header__text {
      font-family: Montserrat-Regular, serif;
      font-size: 16px;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 0.5;
    }

    .header__icon {
      //background: #FFFFFF 0% 0% no-repeat padding-box;
      opacity: 1;
      margin-right: 9px;
    }
  }

  .header__flag {
    width: 36px;
    height: 24px;
    margin-left: 16px;
    cursor: pointer;

    /*&:last-child {
      margin-right: 174px;
    }

    &:first-child {
      margin-left: 73px;
    }*/
  }

}

@media (max-width: 1365px) {
  .header-mobile{
    display: block !important;
    width: 90%;
    background: #00142B;
    height: 80px !important;
    .header-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .language{
        height: 70%;
        width: 70px;
        display: flex;
        justify-content: center;
        background: #FFFFFF33;
        border-radius: 3px;
        .img-language{

        }
      }
    }
  }

  .header-large{
    display: none !important;
  }

  .container-custom{
    width: 100% !important;
  }
}

