.home-slider{
  width: 100%;
  margin: -110px 0 125px 0;
  z-index: 1;
  position: relative;
}

//style={{ width: '100%', marginBottom: '300px', position: 'relative', zIndex: '1', marginTop: '-110px' }}
