.noi-dung-home-page {
  .img-home-1{
    //width: 41.5%;
    box-shadow: 5px 7px 30px #00000080;
    //margin: 30px 0 0 15px;
  }
}
.homepage-container {
  .product-container {
    position: relative;

    .product__background--red {
      background-color: #CE001B;
      height: 366px;
      width: 100%;
    }

    .product__background--dot {
      width: 17.6%;
      position: absolute;
      height: 340px;
      top: 200px;
      left: 0;
    }

    .product__info {
      position: absolute;
      top: 75px;
      width: 100%;
      z-index: 2;

      img {
        margin-left: 40px;
        width: 41.5%;
        box-shadow: 5px 7px 30px #00000080;
      }

      .product__info__content {
        width: 50%;
        float: right;
        color: #FFFFFF;

        .title--jp {
          position: relative;
          height: 70px;

          .title__text {
            font-family: KozGoPro-Regular, sans-serif;
            letter-spacing: 11px;
            font-size: 35px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
          }

          .title__background {
            z-index: 1;
            position: absolute;
            top: 20px;
            left: 0;
            width: 404px;
            height: 36px;
            background-color: #221F64;
          }
        }

        .title--vi {
          font-family: Montserrat-Bold, sans-serif;
          font-size: 22px;
        }

        .content {
          margin-top: 30px;
          width: 593px;
          height: 95px;
          font-size: 16px;
          letter-spacing: 0;
          overflow: hidden;
        }

        .btn-more {
          font-size: 16px;
          margin-top: 65px;
          background: #1D86E2 0% 0% no-repeat padding-box;
          padding: 7px 32px;
          border: 0;
          font-family: Montserrat-Bold, sans-serif;
          letter-spacing: 1.6px;
          color: #FFFFFF;
        }
      }

    }

    .product__content {
      z-index: 1;
      margin-top: 4%;
      position: relative;
      height: 710px;
      overflow: hidden;

      .image__right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 17%;
        z-index: 2;
      }

      .image__bottom {
        z-index: 1;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
      }

      .product__legend {
        z-index: 2;
        position: absolute;
        top: 150px;
        left: 260px;
        background: #221F64 0 0 no-repeat padding-box;
        padding: 5px 10px;


        span {
          font-size: 32px;
          font-family: Montserrat-Bold, sans-serif;
          color: #FFFFFF;
          text-transform: uppercase;
        }
      }

      .product__detail {
        z-index: 3;
        position: absolute;
        top: 235px;
        left: 200px;

        .product__item {
          width: 36%;
          float: left;
          padding: 15px 50px;

          .title {
            display: flex;

            .title__image {
              float: left;
              width: 61px;
            }

            .title__text {
              color: #222222;
              font-size: 16px;
              float: left;
              margin: auto auto auto 10px;
            }
          }

          .content {
            padding: 20px 15px 0;
            color: #555555;
            font-size: 16px;
          }
        }
      }
    }

    .product__bottom {
      width: 100%;
      background: #CE001B 0 0 no-repeat padding-box;
      height: 178px;
      display: flex;

      .product__bottom__content {
        margin: auto;
        //background-color: #1D86E2;
        height: 120px;
        width: 1200px;
        color: #FFFFFF;

        .content__item {
          width: calc(100% / 5);
          height: 100%;
          float: left;
          //border-right: 1px solid rgba(255, 255, 255, 0.5);
          text-align: center;

          &:last-child {
            border: 0;
          }

          .content__item__number {
            font-family: Montserrat-Bold, sans-serif;
            font-size: 42px;
            line-height: 50px;
            margin-bottom: 16px;
          }

          .content__item__text {
            font-family: Montserrat-Medium, sans-serif;
            font-size: 12px;
          }
        }

        .content__item_left{
          width: calc(100% / 4);
          float: left;
          height: 100%;
        }
      }
    }
  }
}
