.noi-dung-home-page {
  .img-home-1{
    width: 41.5%;
    box-shadow: 5px 7px 30px #00000080;
    //margin: 30px 0 0 15px;
  }
}
.homepage-container {
  .homepage-container-mobile{
    display: none;
  }
  .product-container {
    position: relative;

    .product__background--red {
      background-color: #CE001B;
      height: 366px;
      width: 100%;
    }

    .product__background--dot {
      width: 17.6%;
      position: absolute;
      top: 200px;
      left: 0;
    }

    .product__info {
      position: absolute;
      top: 75px;
      width: 100%;
      z-index: 2;

      img {
        margin-left: 40px;
        width: 41.5%;
        box-shadow: 5px 7px 30px #00000080;
      }

      .product__info__content {
        width: 50%;
        float: right;
        color: #FFFFFF;

        .title--jp {
          position: relative;
          height: 70px;

          .title__text {
            font-family: KozGoPro-Regular, sans-serif;
            letter-spacing: 7.7px;
            font-size: 35px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
          }

          .title__background {
            z-index: 1;
            position: absolute;
            top: 20px;
            left: 0;
            width: 430px;
            height: 36px;
            background-color: #221F64;
          }
        }

        .title--vi {
          font-family: Montserrat-Bold, sans-serif;
          font-size: 22px;
        }

        .content {
          margin-top: 20px;
          width: 593px;
          height: 123px;
          font-size: 16px;
          letter-spacing: 0;
          overflow: hidden;
        }

        .btn-more {
          &:hover{
            background-color: #CE001B;
          }
          font-size: 16px;
          margin-top: 40px;
          background: #1D86E2 0% 0% no-repeat padding-box;
          padding: 7px 32px;
          border: 0;
          font-family: Montserrat-Bold, sans-serif;
          letter-spacing: 1.6px;
          color: #FFFFFF;
        }
      }

    }

    .product__content {
      z-index: 1;
      position: relative;
      height: 707px;
      overflow: hidden;

      .image__right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 17%;
        z-index: 2;
      }

      .image__bottom {
        z-index: 1;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
      }

      .product__legend {
        z-index: 2;
        position: absolute;
        top: 150px;
        left: 260px;
        background: #221F64 0 0 no-repeat padding-box;
        padding: 5px 10px;


        span {
          font-size: 32px;
          font-family: Montserrat-Bold, sans-serif;
          color: #FFFFFF;
          text-transform: uppercase;
        }
      }

      .product__detail {
        z-index: 3;
        position: absolute;
        top: 235px;
        left: 200px;

        .product__item {
          width: 36%;
          float: left;
          padding: 15px 50px;

          .title {
            display: flex;

            .title__image {
              float: left;
              width: 61px;
            }

            .title__text {
              color: #222222;
              font-size: 16px;
              float: left;
              margin: auto auto auto 10px;
              font-family: Montserrat-SemiBold;
            }
          }

          .content {
            padding: 20px 15px 0;
            color: #555555;
            font-size: 16px;
          }
        }
      }
    }

    .product__bottom {
      width: 100%;
      //background: #CE001B 0 0 no-repeat padding-box;
      height: 500px;
      display: flex;
      background-image: url('../asset/Icon/video.gif');
      background-size: cover;
      background-position: center;


      .product__bottom__content {
        margin: auto;
        //background-color: #1D86E2;
        //height: 120px;
        width: 1200px;
        text-align: center;
        .logo-bmk-txt{
          color: #222222;
          font-size: 24px;
        }
        .logo-bmk{
          width: 140px;
        }
        .content__item {
          width: calc(100% / 5);
          height: 100%;
          float: left;
          //border-right: 1px solid rgba(255, 255, 255, 0.5);
          text-align: center;

          &:last-child {
            border: 0;
          }

          .content__item__number {
            font-family: Montserrat-Bold, sans-serif;
            font-size: 42px;
            line-height: 50px;
            margin-bottom: 16px;
            color: #CE001B;
          }

          .content__item__text {
            font-family: Montserrat-Medium, sans-serif;
            font-size: 12px;
            color: #000000;
          }
        }

        .content__item_left{
          width: calc(100% / 5);
          float: left;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 1365px) {
  .homepage-container{
    .homepage-container-large{
      display: none;
    }
    .homepage-container-mobile{
      display: block !important;
      .home-slider{
        margin: 0 0 300px 0 !important;
        .slick-dots {
          bottom: -245px;
        }

        .sl-content{
          width: 342px;
          left: 8.695%;
          align-items: unset;
          .sl-content-header{
            width: 100%;
            font-size: 42px;
          }
          .sl-content-content{
            width: 342px;
            font-size: 11px;
            line-height: 25px;
          }
        }

        .tl-slick-custom-label{
          background: unset;
          border: unset;
          padding: unset;
          text-align: center;
          color: #222222;
          text-transform: uppercase;
          font-size: 10px;
          font-family: Montserrat-Bold;
          letter-spacing: 1.6px;
        }
      }

      .homepage-mobile{
        .mb-block-1-content{
          background: #CE001B;
          position: relative;
          text-align: center;

          .title-jp{
            font: {
              family: KozGoPro-Regular;
              size: 42px;
            };
            background: #221F64;
            color: #FFFFFF;
            padding: 2px 10px;
          }

          .title{
            width: 296px;
            font: {
              size: 24px;
              family: Montserrat-Bold;
            };
            color: #FFFFFF;
            margin: auto;
            line-height: 40px;
          }
          .content{
            width: 382px;
            font: {
              size: 12px;
            };
            color: #FFFFFF;
            margin: auto;
            line-height: 30px;
          }
          .btn-read-more-home{
            letter-spacing: 1.2px;
            font-size: 12px;
            text-align: center;
            font-family: Montserrat-Bold;
            color: #FFFFFF;
            opacity: 1;
            background-color: #1D86E2;
            padding: 10px 15px;
          }
          .img-clear{
            position: absolute;
            z-index: 1;
            right: 0;
            left: 0;
            margin: auto;
            bottom: -120px;
            width: 382px;
          }

          .vscn-detail{
            font-size: 12px;
            color: #FFFFFF;
            line-height: 30px;
          }
        }

        .mb-block-2{
          .div-header-title{
            margin-top: 160px !important;
          }
          .div-content{
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 40px;

            .div-content-left{
              background: #EEEEEE;
              border: 1px solid #C9C9C9;
              padding: 25px 0;
            }
            .div-content-right{
              background: #EEEEEE;
              border: 1px solid #C9C9C9;
              padding: 25px 0;
            }

            .title{
              font-size: 24px;
              color: #222222;
              line-height: 30px;
            }
            .content{
              font-size: 12px;
              line-height: 30px;
              color: #222222;
            }
          }

        }
        .bm-block-3{
          background: #CE001B;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-top: 40px;
          .bm-block-3-content{
            width: 33.333333333333333333333333333333%;
            text-align: center;
            padding: 20px 0;
            .title{
              font: {
                size: 42px;
                family: Montserrat-Bold;
              };
              color: #FFFFFF;
            }
            .content{
              color: #FFFFFF;
              font-size: 12px;
              line-height: 15px;
            }
          }
          .bm-block-3-center{
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            .content{
              width: 100px;
              margin: auto;
            }
          }
        }

        .bm-block-4{
          background: #EEEEEE;
          padding-top: 40px;
          margin-bottom: 0 !important;
        }
        .div-header-title{
          display: flex;
          margin: 40px auto 0 auto;
          .header-title{
            width: 342px;
            font: {
              size: 24px;
              family: Montserrat-Bold;
            };
            text-transform: uppercase;
            line-height: 40px;
            background: #221F64;
            color: white;
            margin: auto;
            text-align: center;
          }
        }

        .tin-tuc-homepage{
          .time{
            font-size: 18px;
            color: #555555;
            opacity: 0.75;
            line-height: 25px;
          }
          .title{
            color: #222222;
            font: {
              size: 18px;
              family: Montserrat-Bold;
            };
            line-height: 25px;
          }
        }

      }
    }
  }
}

@media (max-width: 1025px) {
  .homepage-container{
    .homepage-container-mobile{
      .home-slider{
        margin: 0 0 200px 0 !important;
        .slick-dots {
          bottom: -110px !important;
        }
        .ic-home-slider{
          width: 120px !important;
          height: 120px !important;
          img{
            width: 80px;
          }
        }
      }
    }
  }

}

@media (max-width: 769px) {
  .homepage-container{
    .homepage-container-mobile{
      .home-slider{
        margin: 0 0 200px 0 !important;
        .slick-dots {
          bottom: -110px !important;
        }
        .ic-home-slider{
          width: 100px !important;
          height: 100px !important;
          img{
            width: 70px;
          }
        }
      }
    }
  }

}




@media (max-width: 415px) {
  .homepage-container{
    .homepage-container-mobile{
      /*.home-slider{
        margin: 0 0 150px 0 !important;
        .slick-dots {
          bottom: -125px !important;
        }
      }*/

      .home-slider{
        margin: 0 0 150px 0 !important;
        .ic-home-slider{
          width: 80px !important;
          height: 80px !important;
          img{
            width: 40px !important;
          }
        }
      }
    }
  }

}

