.home-slider{
  width: 100%;
  margin: -110px 0 125px 0;
  z-index: 1;
  position: relative;
}

@media (max-width: 1365px) {
  .home-slider{
    margin: 0 !important;
  }
}

//style={{ width: '100%', marginBottom: '300px', position: 'relative', zIndex: '1', marginTop: '-110px' }}
