body, html {
  font-family: Montserrat-Medium;
}

.container-custom {
  width: 1125px;
  margin: auto;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.custom-page-slider {
  width: 100%;
}

.slick-dots {
  z-index: 9999999999999;
}

.slick-dots li {
  width: 19%;
  height: auto;
  opacity: 1;
}

.slick-slide img {
  width: 100%;
}

.menu-header-top {
  height: 110px;
  z-index: 2;
}

// style homepages.
.color-white {
  color: #FFFFFF;
}

.bg-tr {
  background-color: #221F64;
}

.font-time-1 {
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 0.7;
  font-size: 18px;
  width: 28%;
  text-align: center;
}

.font-time-left {
  line-height: 50px;
  border-right: 1px solid rgba(112, 112, 112, .3);
}

.font-time-2 {
  letter-spacing: 0;
  color: #979797;
  opacity: 1;
  font-size: 18px;
  width: 28%;
  text-align: center;
}

.font-content-1 {
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  font-family: Montserrat-Bold;
  width: 60%;
  font-size: 16px;
  padding: 21px;
}

.font-content-2 {
  letter-spacing: 0;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
  font-family: Montserrat-Bold;
  width: 60%;
  font-size: 16px;
  padding: 21px;
}

.btn-continous {
  width: 12%;
}


.home-page-tin-tuc {
  width: 1125px;
  margin: 60px auto 60px auto;
}

.tr-css {
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.btn-read-more {
  text-align: center;
  font-family: Montserrat-Bold;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #1D86E2;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
}

.btn-read-more:hover {
  background-color: #CE001B;
}

@media only screen and (max-width: 1366px) {
  .font-content-2 {
    font-size: 16px;
  }
}


.slick-dots .slick-active {
  opacity: 1 !important;
}


.slick-next {
  right: 0;
  z-index: 999999999999999999999;
}

.slick-prev {
  left: 0;
  z-index: 999999999999999999999;
}

.tl-slick-custom-label {
  background: #FFFFFF;
  border: 1px solid #FFFFFF80;
  padding: 5px 10px;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  border: 1px solid #00000080;
  font-size: 14px;
  font-family: Montserrat-Bold;
}

.menu-header {
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  height: 100%;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  margin: auto 24px 0 24px;
  font-size: 18px;
  display: table;
  cursor: pointer;
}

.menu-active {
  border-bottom: 4px solid #FFFFFF !important;
  opacity: 1;
}

.menu-active-red {
  border-bottom: 4px solid #CE001B !important;
  opacity: 1;
}

.menu-text {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.demo{
  display: flex;
}

.content-center{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999999999999999999;
}

.menu-header-last {
  margin-right: 0;
}

.sl-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sl-content-header {
  font-size: 40px;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.sl-content-content {
  font-family: Montserrat-Medium;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.sl-content-btn {
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D86E2;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  font-family: Montserrat-Bold;
  margin-top: 42px;
  cursor: pointer;
}

.sl-content-btn:hover {
  background-color: #CE001B;
}

.slick-next:before {
  content: none;
}

.slick-prev:before {
  content: none;
}

.breadcrumb-custom {
  height: 50px;
  display: flex;
  align-items: center;
  background: #F1F1F1;
  margin: 50px 0 30px 0;

  .breadcrumb-detail {
    &:hover {
      color: #0781FB;
    }

    cursor: pointer;
    display: flex;
    align-items: center;

    .breadcrumb-dot {
      width: 6px;
      height: 6px;
      background: #CE001B;
      border-radius: 6px;
    }
  }
}

.w-49 {
  width: 49% !important;
}

.w-485 {
  width: 48.5% !important;
}

.w-48 {
  width: 48% !important;
}

.input-bmv {
  background: #CE001B 0% 0% no-repeat padding-box;
  outline: none;
  border-style: none;
  height: 60px;

  text-align: left;
  font-family: Montserrat-Bold;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  opacity: 1;
}

::placeholder {
  color: #FFFFFF;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFFFFF;
}

.quan-ly-name{
  font-size: 24px;
  line-height: 60px;
  color: #222222;
  text-align: center;
}

.quan-ly-chuc-vu{
  font-size: 16px;
  line-height: 60px;
  color: #CE001B;
  text-align: center;
  font-family: Montserrat-Bold;
}

.quan-ly-hr{
  width: 80%;
}
.home-page-quan-ly{
  //margin-top: -60px;
  .block-1{
    img{
      width: 200px;
    }
  }
  .block-2{
    img{
      width: 260px;
    }
  }
}
