.a{
  position: relative;
  text-align: center;
}


.mail {
  position: absolute;
  top: 50%;
  left: 20%;
}

.localtion {
  position: absolute;
  top: 50%;
  left: 45%;
}

.phone {
  position: absolute;
  top: 50%;
  left: 80%;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}

.centered .centered_1 {
  opacity: 0.7
}

.logo_blue{
}

.language {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
}

.copyright{
  background: #CE001B 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 40px;
  width: 100%;
}

.b{
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 0.7;
  line-height: 40px;
  text-align: center;
}
