.lien-he-page {
  .slide-top{
    width: 100%;
    margin-top: -110px;
    z-index: 1;
    position: relative;
    .bg-slide{
      top: 0;
      bottom: 0;
      position: absolute;
      right: 0;
      left: 0;
      background: #000000;
      opacity: 0.45;
    }

    .img-lh-top{
      position: relative;
      width: 100%;
    }
    .img-lh-top-mobile{
      display: none;
    }

    .slide-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 1125px;
      margin: auto;
      right: 0;
      bottom: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .lh-slide-title {
        letter-spacing: 0;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        font: {
          family: Montserrat-ExtraBold;
          size: 42px;
        }
      }

      .lh-slide-content {
        letter-spacing: 0;
        color: #FFFFFF;
        text-align: center;
        width: 954px;
        font: {
          family: Montserrat-Light;
          size: 16px;
        }
      }
    }
  }

  .block-1{
    width: 770px;
    margin: 80px auto;
    .input-row{
      width: 380px;
    }

    .btn-lien-he{
      width: 180px;
      height: 50px;
      background: #1D86E2;
      opacity: 1;
      outline: none;
      border-style: none;

      font-family: Montserrat-Bold;
      letter-spacing: 1.6px;
      color: #FFFFFF;
      font-size: 16px;
    }
    .textarea-bmv{
      height: 240px;
      padding-top: 15px;
    }
  }


}

@media (max-width: 1365px) {
  .lien-he-page{
    .slide-top{
      margin-top: 0;

      .img-lh-top-mobile{
        display: block;
      }
      .img-lh-top-large{
        display: none;
      }

      .slide-content{
        width: 100%;
        left: 8.69565%;
        align-items: normal;
        .lh-slide-title{
          width: 230px;
          font-size: 28px;
          color: #FFFFFF;
        }
        .lh-slide-content{
          width: 342px;
          text-align: left;
        }
      }
    }

    .block-1{
      width: 414px;
      text-align: center;
      .input-row{
        width: 382px !important;
      }

      .input-bmv{
        width: 382px !important;
      }

      .input-row-mobile{
        margin-top: 20px;
      }

      .float-left{
        float: none !important;
      }
      .float-right{
        float: none !important;
      }
    }
  }
}

