.ve-sinh-cong-nghiep-page {
  .ve-sinh-cong-nghiep-mobile {
    display: none;
  }

  .vscn-chi-tiet {
    .vscn-11 {
      width: 49.06%;
    }

    .vscn-content {
      width: 50.93%;
      display: table-cell;
      background: #CE001B;
      position: relative;

      .vscn-title {
        background: #221F64;
        position: absolute;
        width: 100%;
        top: 15%;

        text-align: left;
        font-family: Montserrat-Bold;
        letter-spacing: 0;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        font-size: 28px;
      }

      .vscn-title-left {
        position: absolute;
        width: 20px;
        background: #221F64;
        top: 0;
        bottom: 0;
        left: -20px;
      }

      .vscn-detail {
        position: absolute;
        width: 100%;
        top: 25%;
        font-size: 12px !important;
        text-align: left;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        z-index: 2;
        line-height: 30px;
      }

      .img-clear {
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: 1;
        width: 40%;
      }
    }
  }
}

@media (max-width: 1365px) {
  .ve-sinh-cong-nghiep-page {
    .ve-sinh-cong-nghiep-large {
      display: none;
    }

    .ve-sinh-cong-nghiep-mobile {
      display: block !important;
      margin-bottom: 40px;

      .mb-block-2 {
        .mb-bl-2-img {
          display: flex;
          text-align: center;
          justify-content: center;

          .img-content {
            width: 194px;
          }
        }
      }

      .mb-vscn-slide {
        margin: 20px 0;

        .sl-content-custom {
          text-align: center;
          display: flex;

          .sl-title {
            margin: auto;
            padding: 5px 15px;
            border-radius: 11px;
            color: #222222;

            font: {
              size: 10px;
              family: Montserrat-Bold;
            };

            &.active {
              color: #FFFFFF;
              background: #CE001B;
            }
          }
        }

      }

      .mb-block-1 {
        background: #CE001B;
        .mb-block-1-title {
          background: #221F64;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 60px;

          .title {
            font: {
              size: 22px;
              family: Montserrat-Bold;
            };
            color: #FFFFFF;
            text-transform: uppercase;
          }
        }

        .mb-block-1-content {
          background: #CE001B;
          position: relative;

          .img-clear {
            position: absolute;
            /* top: 0; */
            z-index: 1;
            right: 20px;
            bottom: 20px;
          }

          .vscn-detail {
            font-size: 12px;
            color: #FFFFFF;
            line-height: 30px;
          }
        }
      }

    }
  }
}
